---
---

@font-face {
    font-family:"DejaVuSlanted";
    src: url("/assets/fonts/DejaVuSansMono-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family:"DejaVu";
    src: url("/assets/fonts/DejaVuSansMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family:"DejaVuThin";
    src: url("/assets/fonts/DejaVuSansMono.ttf") format("truetype");
}

@font-face {
    font-family:"Raleway";
    src: url("/assets/fonts/Raleway-Light.ttf") format("truetype");
}



.background { background-position: center center; background-repeat: no-repeat; background-size: cover; background-color: #FFFFFF; background-attachment: fixed; margin-bottom: fill; }

.name { font-family: 'Raleway' , sans-serif, Helvetica, Verdana; color: whitesmoke; font-size: 50px; padding-bottom: 14px; text-align: center; }

.bio { font-family: 'Raleway' , sans-serif, Helvetica, Verdana; padding-left: 10%; padding-right: 10%; color: black; font-weight: bold; font-size: 18px; padding-bottom: 10px; }

.bio2 { font-family: 'Raleway' , sans-serif, Helvetica, Verdana; padding-left: 10%; padding-right: 10%; color: black; font-weight: bold; font-size: 16px; padding-bottom: 10px; }

.intro-content { display: flex; flex-direction: column; margin-top: 3%; margin-bottom: 0%; width: 35%; align-items: center; align-content: center; justify-content: flex-start; margin-left: auto; margin-right: auto; border: 5px #111111; border-radius: 5px; }

.links { font-family: 'Raleway' , sans-serif, Helvetica, Verdana; color: black; font-weight: bolder; font-size: 20px; margin-left: 5px; margin-right: 5px; }

.me { object-fit: contain; border: 10px solid #e6e6fa; border-radius: 5%; border-width: thin; max-width: 200px; height: auto; margin-top: 50px; left: 50%; }

.name { font-family: 'Raleway' , sans-serif, Helvetica, Verdana; color: black; font-weight: bolder; font-size: 40px; margin-left: 5px; padding-top: 15px; margin-right: 5px; }

.button { padding: 7px; }

.parent { width: 100%; height: 100%; overflow: hidden; }

.child { height: 100%; margin-right: -50px; /* maximum width of scrollbar */ padding-right: 50px; /* maximum width of scrollbar */ overflow-y: scroll; }

.buttons { display: flex; flex-direction: row; justify-content: center; width: 100%; }

a:link { color: #000; }

/* unvisited link  */
a:visited { color: #000; }

/* visited link    */
a:hover { color: blue; }

/* mouse over link */
a:active { color: #000; }

@media only screen and (max-width: 1700px) {
    .intro-content { 
        width: 50%;
    }
}

@media only screen and (max-width: 1300px) {
    .name {
      font-size: 40px;
      margin-top: 5px;
    }
}

@media only screen and (max-width: 1200px) {
    .intro-content { 
        width: 65%;
    }
}

@media only screen and (max-width: 1000px) {
    .intro-content { 
        width: 70%;
    }
}

@media only screen and (max-width: 850px) {
    .intro-content { 
        width: 85%;
    }
}

@media only screen and (max-width: 705px) {
    .intro-content { 
        width: 95%;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .buttons {
        flex-wrap: wrap;
    }

    .name {
        font-size: 30px;
        margin-top: 5px;
    }
    
    .links {
        font-size: 16px;
    }
}

@import "bootstrap";

@media only screen and (max-width: 550px) {
    .name {
        font-size: 25px;
        margin-top: 5px;
    }
    
    .links {
        font-size: 15px;
    }
}
